#background {
  position: absolute;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
  width: 60vw;
  height: 100%;
  padding: 0;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  z-index: 500;
}

.navbar-item-container {
  display: flex;
  height: 100%;
}

.navbar-flex {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 33%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-flex label {
  color: white;
}

.title-text {
  color: white;
}

.layers-panel {
  height: 95%;
  width: 20%;
  position: fixed;
  z-index: 490;
  bottom: 0;
  left: 0;
  background-color: #545454;
  overflow-x: hidden;
}

.layers-panel-header th {
  color: white;
}

.layers-panel-header-layers-column {
  width: 100%;
}

.dropdown {
  width: 100%;
  height: 45px;
  text-align: left;
}

.dropdown-contents {
  background-color: #464646;
  align-items: center;
  justify-items: center;
  padding: 10px;
  padding-left: 5%;
  padding-right: 0;
}

.dropdown-contents p {
  color: #ddd;
}

.elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.elements-container button {
  width: 54px;
  height: 48px;
}

.elements-container .selectionImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.element-selected {
  background-color: hsla(0, 0%, 100%, 0.565);
  border-radius: 5px;
}

.dispenser-element-selected {
  background-color: hsla(0, 0%, 100%, 0.565);
  border-radius: 5px;
}

.board-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board-area td {
  position: relative;
  width: 72px;
  height: 64px;
}

.board-area td img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.board-area td img.board-dispenser {
  top: -48px;
  opacity: 0.75;
  pointer-events: none;
}

.board-area td .board-dispenser-elements-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  pointer-events: none;
  left: 5;
  margin: 0;
  padding: 0;
  max-width: 64px;
  height: 20px;
  bottom: 100%;
  width: 100%;
}

.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 1),
.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 1) ~ img {
  max-width: 100%;
}

.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 2),
.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 2) ~ img {
  max-width: 50%;
}

.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 3),
.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 3) ~ img {
  max-width: 33%;
}

.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 7),
.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 7) ~ img {
  max-width: 25%;
}

.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 13),
.board-area td .board-dispenser-elements-container img:first-child:nth-last-child(n + 13) ~ img {
  max-width: 20%;
}

.board-area td img.board-dispenser-element {
  max-width: 60%;
  margin: 0;
  padding: 0;
  z-index: 11;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  position: static;
  pointer-events: none;
}

.config-panel {
  height: 95%;
  width: 20%;
  position: fixed;
  z-index: 490;
  bottom: 0;
  right: 0;
  background-color: #545454;
  overflow-x: hidden;
}

.config-panel-header {
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.config-panel-section {
  border: none;
  min-height: 45px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid;
  border-top-color: #383838;
  border-bottom-color: #6b6b6b;
  border-left-color: transparent;
  border-right-color: transparent;
}

.config-panel-section p {
  color: #ddd;
}

.break {
  flex-basis: 100%;
}

#config-panel-game-mode {
  display: flex;
  flex-direction: column;
}

#game-modes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-mode-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#config-panel-game-mode img {
  max-width: 30px;
  max-height: 30px;
}

#config-panel-preferred-colors {
  display: flex;
  flex-direction: column;
}

#preferred-colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#preferred-colors-container button {
  width: 54px;
  height: 48px;
}

#preferred-colors-container .selectionImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preferred-color-selected {
  background-color: hsla(0, 0%, 100%, 0.565);
  border-radius: 5px;
}

#config-panel-target-scores {
  display: flex;
  flex-direction: column;
}

#config-panel-orders-requirements {
  display: flex;
  flex-direction: column;
}

#config-panel-ingredients-requirements {
  display: flex;
  flex-direction: column;
}

.config-panel-section thead th {
  color: #ddd;
}

#config-panel-element-information {
  display: flex;
  flex-direction: column;
}

#config-panel-element-information table {
  padding-bottom: 10px;
}

#config-panel-element-information td {
  color: #ddd;
  width: 33%;
}

#config-panel-element-information .spawn-information-input {
  width: 100%;
}
